.app  {
    background: blue;
    padding: 0 90px;
    box-sizing: border-box;
    overflow: hidden !important;
}

.app .item {
    background: teal;
    height: 200px;
    position: relative;
    overflow: hidden;
    max-width: 400px;
    width: 100%;
}

.item__portal {
    position: absolute;
    top: 20%;
    left: 0;
    background-color: red;
    max-width: 770px;
    width: 100%;
}

.app .item .box {
    background: thistle;
    top: 10%;
    left: 0;
    position: absolute;
    height: 100px;
    max-width: 500px;
    width: 100%;
}
